.header-title {
    font-family: 'bebas-neue';
    /* font-size: 5.5rem; */
    line-height: 80%;
    color: #05396B;
}

.header-date {
    font-family: 'roboto-reg';
    /* font-size: 2rem; */
    color: #00377D;
}