<div class="grid grid-cols-1 w-full sm:w-4/5 lg:w-3/5 xl:w-1/3 mx-auto px-2">
    <div class="text-center tasks-header">{{header}}</div>
    <div class="text-lg">
        @for(taskAssignment of taskAssignments; track $index) {
            <div class="grid grid-cols-1 md:grid-cols-3">
                <div class="my-auto col-span-1 text-left md:text-center">
                    <span class="font-bold chore-text">{{taskAssignment.assignee}}</span>
                </div>
                <div [class]="getClass(taskAssignment.task)">
                        <fa-icon 
                        [icon]="getIcon(taskAssignment.task)" 
                        ></fa-icon>
                        &nbsp;
                        {{taskAssignment.task}}
                </div>
            </div>
        }
    </div>
</div>