<div class="w-3/5 mx-auto border-solid border-4 border-zinc-800 rounded-lg">
    <div class="grid grid-cols-1 w-3/4 mx-auto px-2 py-5">
        <div class="text-center tasks-header">{{header}}</div>
        <div class="text-lg">
            @for(taskAssignment of taskAssignments; track $index) {
                <div class="grid grid-cols-2 text-center text">
                    <div><span class="font-bold">{{taskAssignment.assignee}}</span></div>
                    <div>{{taskAssignment.task}}</div>
                </div>
            }
        </div>
    </div>
</div>