/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'bebas-neue';
    src: url('./assets/BebasNeue-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'roboto-reg';
    src: url('./assets/Roboto-Regular.ttf') format("opentype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
